@model HomeVM;
<div class="container-fluid p-0 mb-5"><div class="owl-carousel header-carousel position-relative">@foreach (var item in Model.ProductSlider){<div class="owl-carousel-item position-relative"><div style="height:100vh"><img class="img-fluid" style="height:100%" src="@item.PhotoUrl" alt="@item.Title"></div><div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .4);"><div class="container"><div class="row justify-content-start"><div class="col-10 col-lg-8"> <h1 class="display-3 text-white animated slideInDown mb-4">@item.Title</h1>  <p class="fs-5 fw-medium text-white mb-4 pb-2 ">@item.Description</p></div></div> </div> </div> </div>}</div></div>@*<!-- Carousel End -->*@@*<!-- Service Start -->*@<div id="Islermiz" class="container-xxl py-5"><div class="container"> <div class="row g-4"> @foreach (var item in Model.Product){<div class="col-lg-3 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.2s"><div class="overflow-hidden"> <img class="img-fluid w-100 h-100" src="@item.PhotoUrl" alt="@item.Title"> </div> <div class="d-flex align-items-center justify-content-between bg-light p-4"><h5 class="text-truncate me-3 mb-0">@item.Title</h5><a class="btn btn-square btn-outline-primary border-2 border-white flex-shrink-0"><i class="fa fa-arrow-right"></i></a> </div> </div> }</div></div></div>@*<!-- Service End -->*@@*<!-- About Start -->*@<div id="Abaut" class="container-xxl py-5"> <div class="container"><div class="row g-5"> <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s"> <h6 class="text-secondary text-uppercase">Haqqızda</h6><h1 class="mb-4">@Model.Abaut.Title</h1> <p class="mb-4">@Html.Raw(Model.Abaut.Description)</p> @{ if (!string.IsNullOrEmpty(Model.Abaut.Url)){var metin = Model.Abaut.Url;var kelimeler = metin.Split(",", StringSplitOptions.RemoveEmptyEntries); <p class="fw-medium text-primary"> @foreach (var kelime in kelimeler){<p><i class="fa fa-check text-success me-3"></i>@kelime</p>}</p>}}<div class="bg-primary d-flex align-items-center p-4 mt-5"><div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;"><i class="fa fa-phone-alt fa-2x text-primary"></i> </div> <div class="ms-3"> <p class="fs-5 fw-medium mb-2 text-white">Əlaqə 24/7</p><h3 class="m-0 text-secondary">+994 55 319-31-91</h3></div></div> </div> <div class="col-lg-6 pt-4" style="min-height: 500px;"><div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s"><img class="position-absolute img-fluid w-100 h-100" src="img/about-1.jpg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">  <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50" src="img/about-2.jpg" style="object-fit: cover;" alt=""></div></div></div></div></div>@*<!-- About End -->*@@*<!-- Service Start -->*@<div id="Services" class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">
        <div class="col-lg-3 d-none d-lg-flex">
            <div class="d-flex align-items-center justify-content-center bg-primary w-100 h-100">
                <h1 class="display-3 text-white m-5" style="transform: rotate(-90deg);">2023 ildən fəaliyyətdə</h1>
            </div>
        </div>
        <div class="col-md-12 col-lg-9">
            <div class="ms-lg-5 ps-lg-5">
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Xidmətlərimiz</h6>
                    <h1 class="mb-5">Xidmətlərimizi araşdırın</h1>
                </div>
                <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
                    @foreach (var item in Model.Service)
                    {
                        <div class="bg-light p-4">
                            <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4" style="width: 75px; height: 75px;">
                                <i class="@item.Icon"></i>
                            </div>
                            <h4 class="mb-3">@item.Title</h4>
                            @Html.Raw(item.Description)
                            @{
                                if (!string.IsNullOrEmpty(item.Url))
                                {
                                    var metin = item.Url;
                                    var kelimeler = metin.Split(",", StringSplitOptions.RemoveEmptyEntries);

                                    <p class="fw-medium text-primary">
                                        @foreach (var kelime in kelimeler)
                                        {
                                        <p><i class="fa fa-check text-success me-3"></i>@kelime</p>
                                        }

                                    </p>
                                }
                            }

                        </div>
                    }
           
              
                </div>
            </div>
        </div>
    </div>
</div>
@*<!-- Service End -->*@
